<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title >Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1 style="font-size: 56px;">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button" style="background: #4579b2; border: none; font-size: 12px;">Scrape New Data</a></p>
    </div>
<br>
    <!-- Latest Mars News -->
    <div class="row">
      <div class="col-md-12"><h2 class="latest_news"> Latest Mars News:</h2></div>
      <h6 style="font-family: Arial, Helvetica, sans-serif;"><b>{{ mars.news_title }}</b></h6>
      <p style="font-family: Arial, Helvetica, sans-serif;"><small>{{ mars.news_p }}</small></p>
    </div>
    <br>

    <!-- Featured Mars Image -->
    <div class="row">
      <div class="col-md-8"><h2 class="featured_image">Featured Mars Image</h2>
      <img src="{{mars.featured_image_url}}" alt="Features Mars Image" style="height: 550px; width: 730px;">
      </div>

      <!-- Mars Facts -->
      <div class="col-md-4">
        <h5 class="facts">Mars Facts</h5>
        <div class="table-striped" style="font-size: 13px;">
        {{mars.html_table | safe}}
        </div>
      </div>

  <!-- Mars Hemispheres -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="heading" style="text-align: center;"><b>Mars Hemispheres</b></h2>
      <hr />
      <div class="col-md-6">
        <div class="card" style="border-style: solid; border-color: lightgray; padding: 1rem;">
          <img src="{{mars.hemisphere_images[3]['img_url']}}" alt="Valles Marineris"
            style="height: 100%; width: 100%; object-fit: contain"
          />
          <h4><b>{{mars.hemisphere_images[3]['title']}}</b></h4>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="card"
          style="border-style: solid; border-color: lightgray; padding: 1rem;"
        >
          <img
            src="{{mars.hemisphere_images[0]['img_url']}}"
            alt="Cerbeus"
            style="height: 100%; width: 100%; object-fit: contain"
          />
          <h4><b>{{mars.hemisphere_images[0]['title']}}</b></h4>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="card"
          style="border-style: solid; border-color: lightgray; padding: 1rem;"
        >
          <img
            src="{{mars.hemisphere_images[1]['img_url']}}"
            alt="Schiaparelli"
            style="height: 100%; width: 100%; object-fit: contain"
          />
          <h4><b>{{mars.hemisphere_images[1]['title']}}</b></h4>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="card"
          style="border-style: solid; border-color: lightgray; padding: 1rem;"
        >
          <img
            src="{{mars.hemisphere_images[2]['img_url']}}"
            alt="Sytris Major"
            style="height: 100%; width: 100%; object-fit: contain"
          />
          <h4><b>{{mars.hemisphere_images[2]['title']}}</b></h4>
        </div>
      </div>
    </div>
  </div>
</div>



  <!-- <div class="row">
    <div class="col-md-12"><h2 class="hemispheres">Mars Hemispheres</h2>
    <hr>

  <div class="col-md-6">
    <div class="card" style="border-style: solid; padding: 1rem;">
    <img src="{{mars.hemisphere_images[3]['img_url']}}" alt="Valles Marineris Hemisphere" style="height: 512px; width: 512px;">
   <h4>{{mars.hemisphere_images[3]['title']}}</h4>
  </div>
</div>
  
  <div class="col-md-6">
    <div class="card" style="border-style: solid; padding: 1rem;">
   <img src="{{mars.hemisphere_images[0]['img_url']}}" alt="Cerberus Hemisphere" style="height: 512px; width: 512px;">
   <h4>{{mars.hemisphere_images[0]['title']}}</h4>
  </div>
</div>

<div class="col-md-6">
  <div class="card" style="border-style: solid; padding: 1rem;">
  <img src="{{mars.hemisphere_images[1]['img_url']}}" alt="Schiaparelli Hemisphere" style="height: 512px; width: 512px;">
  <h4>{{mars.hemisphere_images[1]['title']}}</h4>
  </div>
</div>

<div class="col-md-6">
  <div class="card" style="border-style: solid; padding: 1rem;">
  <img src="{{mars.hemisphere_images[2]['img_url']}}" alt="Sytris Major Hemisphere" style="height: 512px; width: 512px;">
  <h4>{{mars.hemisphere_images[2]['title']}}</h4>
  </div>
</div> -->

<!-- </div>
</div> -->
</body>
</html>

